@(formChanges: Seq[FormChange], changeForm: Form[FormChange])
@import helper._

@main("SSSP") {
    <table id="routes">
        <thead>
        <tr>
            <th>Route</th>
            <th>Bucket</th>
            <th>AWS Access Key</th>
            <th>AWS Secret Key</th>
        </tr>
        </thead>
        <tbody>
        <tr>
        @form(routes.Application.handleChanges, 'class -> "create") {
            <td><input type="text" name="path"
                       size=25 required autofocus
                       placeholder="new route"></td>
            <td><input type="text" name="bucket"
                       size=25 required
                       placeholder="S3 bucket"></td>
            <td><input type="text" name="access"
                       size=25 required
                       placeholder="access key"></td>
            <td><input type="text" name="secret"
                       size=50 required
                       placeholder="secret key"></td>
            <td><input type="submit" name="action" value="create"></td>
        }
        </tr>
        @for(change <- formChanges) {
        <tr>
        @form(routes.Application.handleChanges, 'class -> "delete") {
            <td><input type="text" name="path"
                       size=25 readonly
                       value="@change.path"></td>
            <td><input type="text" name="bucket"
                       size=25 readonly
                       value="@change.bucket"></td>
            <td><input type="text" name="access"
                       size=25 readonly
                       value="@change.access"></td>
            <td><input type="text" name="secret"
                       size=50 readonly
                       value="@change.secret"></td>
            <td><input type="submit" name="action" value="delete"></td>
        }
        </tr>
        }
        </tbody>
    </table>
}
