@(formChanges: Seq[FormChange], changeForm: Form[FormChange])
@import helper._
@import mesos.Coordinator

@main("SSSP") {
    <div id="container">
    <h1>SSSP</h1>
    <table id="routes">
        <thead>
        <tr>
            <th>Route</th>
            <th>Bucket</th>
            <th>AWS Access Key</th>
            <th>AWS Secret Key</th>
        </tr>
        </thead>
        <tbody>
        <tr> <form class="create" method="POST">
        @form(routes.Application.index, 'class -> "create") {
            <td><input type="text" name="path"
                       size=25 required autofocus
                       placeholder="new route"></td>
            <td><input type="text" name="bucket"
                       size=25 required
                       placeholder="S3 bucket"></td>
            <td><input type="text" name="access"
                       size=25 required
                       placeholder="access key"></td>
            <td><input type="text" name="secret"
                       size=50 required
                       placeholder="secret key"></td>
            <td><input type="submit" name="action" value="create"></td>
        }
        </form> </tr>
        @for(change <- formChanges) {
        <tr> <form class="delete" method="POST">
        @form(routes.Application.index, 'class -> "delete") {
            <td><input type="text" name="path"
                       size=25 readonly
                       value="@change.path"></td>
            <td><input type="text" name="bucket"
                       size=25 readonly
                       value="@change.bucket"></td>
            <td><input type="text" name="access"
                       size=25 readonly
                       value="@change.access"></td>
            <td><input type="text" name="secret"
                       size=50 readonly
                       value="@change.secret"></td>
            <td><input type="submit" name="action" value="delete"></td>
        }
        </form> </tr>
        }
        </tbody>
    </table>
    @for(conf <- Coordinator.conf) {
    <div style="width: 100%; height: 2em;"></div>
    <h2>cluster</h2>
    <form id="mesos-conf" method="POST">
        <table>
            <thead>
                <tr><th>Master URL</th><th>Node Count</th>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <input type="text" name="mesos-master" readonly size="50"
                               value="@conf.master">
                    </td>
                    <td>
                        <input type="number" name="mesos-nodes" readonly size="4"
                               value="@conf.nodes">
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
    }
    @if(Coordinator.scheduler.nonEmpty) {
    <table id="mesos-tasks">
        <thead>
        <tr>
            <th>IP</th>
            <th>Port</th>
            <th>Role</th>
        </tr>
        </thead>
        <tbody>
        @for((ip, port, kind) <- controllers.Application.endpoints()) {
        <tr> <td>@ip</td> <td>@port</td> <td>@kind</td> </tr>
        }
        </tbody>
    </table>
    }
    </div>
}
